.header-video {
  position: absolute;
  height: 100vh;
  z-index: -10;
  opacity: .4;
  >video {
    height: 100%;
    width: 100%;
    object-fit: cover;

    @media only screen and (min-width: 2000px) {
      height: 100vh;
      width: 100vmax;
      object-fit: cover;
    }
  }
}

header {
  margin: auto;
  // padding-top: 3rem;
  @include flex-col-center();
  width: 90%;
  height: 20vh;
  animation-name: moveIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.container {
  width: 90%;
  margin: auto;
  @media only screen and (min-width: 1900px) {
    width: 70%;
  }
}

.border-clip {
  height: 5vh;
  width: 100%;
  position: relative;
  bottom: 4vh;
  right: 0;
  background-color: $color-body;
  clip-path: polygon(33% 3%, 49% 82%, 74% 2%, 83% 71%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0, 12% 76%);

  @media only screen and (max-width: 320px) {
    display: none;
  }
}

.logo {
  @include flex-col-center();
  >img {
    margin-top: 4rem;
    height: 60px;
  }
}

nav {
  margin-top: 2rem;
  width: 30rem;
  font-size: $nav-font-size;
  font-weight: 300;
  
  @media only screen and (max-width: 320px) {
    width: 20rem;
    font-size: $nav-font-size-small;
  }
  >ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;

    @media only screen and (max-width: 320px) {
      justify-content: space-around;
    }
    >li {
      border-bottom: 2px solid transparent;
      padding-bottom: .5rem;
      transition: border .2s ease-in;
    }
    >li:hover {
      border-bottom: 2px solid $color-primary-brown;
    }
  }

  >ul>li>a{
    text-decoration: none;
    color: inherit;
  }
}

.landing {
  height: 80vh;
  position: relative;
  @include flex-col-center();
}

.landing-container {
  @include section-container();
  @media only screen and (max-width: 1300px) {
    width: 100%;
  }


  >.heading{
    @include flex-col-center();
    justify-content: flex-start;
    flex: 1;

    >.heading-container{
      @include flex-col-center();
      width: 100%;
      padding: 15rem 0 15rem 0;

      >h1 {
        font-family: 'Prata', serif;
        font-size: $heading-font-size;
        font-weight: 100;
        letter-spacing: .2rem;
        padding-bottom: 3rem;
        text-align: center;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @media only screen and (max-width: 1066px) {
          font-size: 4rem;
        }

        @media only screen and (max-width: 840px) {
          font-size: 3rem;
        }

        @media only screen and (max-width: 320px) {
          font-size: 2.7rem;
        }
      }

      >h1 >span {
        color: $color-primary-brown-dark;
        position: relative;
        padding-left: 1rem;
        padding-right: 1rem;
      }

      >h1 >span::before{
        z-index: 3;
        content: '';
        height: 100%;
        width: 100%;
        top:  0;
        left: 0;
        position: absolute;
        border: 1px solid $color-primary-brown;
        border-radius: 50%;
        display: inline-block;
        transform: rotate(-10deg);
        transition: .2s;
        cursor: pointer;
        
      }

      >h1 >span:hover::before {

        animation-name: rotate180;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }

      >p{
        margin-bottom: 3rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }

      >a>button {
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }

    }
  }

}