/* browser reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;  /* for all elements to inherit box-sizing attribute in body element css */
}

html {
    font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5% -- 16px is default font size in browser*/
    scroll-behavior: smooth;
}

body {
  width: 100%;
  box-sizing: border;
  font-family: 'Cantarell', sans-serif;
  font-size: $default-font-size;
  font-weight: 300;
  background-color: #FDFDFD;
}

button {
  outline: none;
  border: none;
  background-color: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  font-size: $default-font-size;
  padding: .5rem 1.5rem .5rem 1.5rem;
  border-radius: 10rem;
  box-shadow: 4px 4px 0px #000000;
}
