.container{
  height: 60vmin;
  width: 60vmin;
  display: grid;
  background-color: red;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  >div{
    // height: 20vmin;
    // width: 20vmin;
    text-align: center;
    background-color: white;
    font-size: 15vmin;
  }
}