//color
$color-primary-brown-dark: #31241C;
$color-primary-brown: #753C1E;
$color-primary-brown-light: #A67A5E;

$color-secondary-gray: #8E999C;
$color-secondary-gray-light: #CEDDE1;

$color-white: #fff;
$color-borderbox: #CD905E;
$color-body: #FDFDFD;

$color-green: #159b09;

//font size
$default-font-size: 1.6rem;
$default-font-size-small: 1.2rem;
$nav-font-size: 1.2rem;
$nav-font-size-small: .9rem;
$heading-font-size-small: 3rem;
$heading-font-size: 5rem;
$heading-font-size-large: 6rem;
$heading-font-size-body: 4rem;