@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mrs+Saint+Delafield&family=Prata&display=swap");
/* animations */
@keyframes moveInLeft {
  /* start of animation */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    /* animate in X direction */ }
  80% {
    opacity: 1;
    transform: translateX(1rem);
    /* animate in X direction */ }
  /* end of animation */
  100% {
    opacity: 1;
    transform: translate(0);
    /* translate 0 means to be in the original position*/ } }

@keyframes moveInRight {
  /* start of animation */
  0% {
    opacity: 0;
    transform: translateX(10rem);
    /* animate in X direction */ }
  80% {
    opacity: 1;
    transform: translateX(-1rem);
    /* animate in X direction */ }
  /* end of animation */
  100% {
    opacity: 1;
    transform: translate(0);
    /* translate 0 means to be in the original position*/ } }

@keyframes moveIn {
  /* start of animation */
  0% {
    opacity: 0; }
  80% {
    opacity: 1; } }

@keyframes rotate180 {
  /* start of animation */
  0% {
    transform: rotate(-10deg);
    /* animate in X direction */ }
  /* end of animation */
  100% {
    transform: rotate(-370deg);
    /* translate 0 means to be in the original position*/ } }

/* browser reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* for all elements to inherit box-sizing attribute in body element css */ }

html {
  font-size: 62.5%;
  /* 1rem = 10px; 10px/16px = 62.5% -- 16px is default font size in browser*/
  scroll-behavior: smooth; }

body {
  width: 100%;
  box-sizing: border;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  background-color: #FDFDFD; }
  @media only screen and (max-width: 1066px) {
    body {
      font-size: 1.2rem; } }

input:focus, textarea {
  outline: none !important; }

p {
  word-spacing: .5rem;
  line-height: 2rem; }

button {
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  background-color: transparent;
  border: 1px solid #753C1E;
  padding: 1.2rem 4rem 1.2rem 4rem;
  color: #31241C;
  transition: .2s ease-in; }
  button:hover {
    background-color: #A67A5E;
    border: 1px solid transparent;
    color: #fff; }

.header-video {
  position: absolute;
  height: 100vh;
  z-index: -10;
  opacity: .4; }
  .header-video > video {
    height: 100%;
    width: 100%;
    object-fit: cover; }
    @media only screen and (min-width: 2000px) {
      .header-video > video {
        height: 100vh;
        width: 100vmax;
        object-fit: cover; } }

header {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 20vh;
  animation-name: moveIn;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.container {
  width: 90%;
  margin: auto; }
  @media only screen and (min-width: 1900px) {
    .container {
      width: 70%; } }

.border-clip {
  height: 5vh;
  width: 100%;
  position: relative;
  bottom: 4vh;
  right: 0;
  background-color: #FDFDFD;
  clip-path: polygon(33% 3%, 49% 82%, 74% 2%, 83% 71%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0, 12% 76%); }
  @media only screen and (max-width: 320px) {
    .border-clip {
      display: none; } }

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .logo > img {
    margin-top: 4rem;
    height: 60px; }

nav {
  margin-top: 2rem;
  width: 30rem;
  font-size: 1.2rem;
  font-weight: 300; }
  @media only screen and (max-width: 320px) {
    nav {
      width: 20rem;
      font-size: 0.9rem; } }
  nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none; }
    @media only screen and (max-width: 320px) {
      nav > ul {
        justify-content: space-around; } }
    nav > ul > li {
      border-bottom: 2px solid transparent;
      padding-bottom: .5rem;
      transition: border .2s ease-in; }
    nav > ul > li:hover {
      border-bottom: 2px solid #753C1E; }
  nav > ul > li > a {
    text-decoration: none;
    color: inherit; }

.landing {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.landing-container {
  height: 100%;
  width: 80%;
  display: flex; }
  @media only screen and (max-width: 1300px) {
    .landing-container {
      width: 100%; } }
  .landing-container > .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    flex: 1; }
    .landing-container > .heading > .heading-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 15rem 0 15rem 0; }
      .landing-container > .heading > .heading-container > h1 {
        font-family: 'Prata', serif;
        font-size: 5rem;
        font-weight: 100;
        letter-spacing: .2rem;
        padding-bottom: 3rem;
        text-align: center;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out; }
        @media only screen and (max-width: 1066px) {
          .landing-container > .heading > .heading-container > h1 {
            font-size: 4rem; } }
        @media only screen and (max-width: 840px) {
          .landing-container > .heading > .heading-container > h1 {
            font-size: 3rem; } }
        @media only screen and (max-width: 320px) {
          .landing-container > .heading > .heading-container > h1 {
            font-size: 2.7rem; } }
      .landing-container > .heading > .heading-container > h1 > span {
        color: #31241C;
        position: relative;
        padding-left: 1rem;
        padding-right: 1rem; }
      .landing-container > .heading > .heading-container > h1 > span::before {
        z-index: 3;
        content: '';
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        border: 1px solid #753C1E;
        border-radius: 50%;
        display: inline-block;
        transform: rotate(-10deg);
        transition: .2s;
        cursor: pointer; }
      .landing-container > .heading > .heading-container > h1 > span:hover::before {
        animation-name: rotate180;
        animation-duration: 1s;
        animation-timing-function: ease-out; }
      .landing-container > .heading > .heading-container > p {
        margin-bottom: 3rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out; }
      .landing-container > .heading > .heading-container > a > button {
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out; }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.about-container {
  height: 100%;
  width: 80%;
  display: flex; }
  @media only screen and (max-width: 1066px) {
    .about-container {
      margin-top: 0; } }
  @media only screen and (max-width: 840px) {
    .about-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2rem; } }
  .about-container .about-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; }
    @media only screen and (max-width: 320px) {
      .about-container .about-image {
        margin-top: 2rem;
        justify-content: flex-start; } }
    .about-container .about-image > .img-border {
      height: 58rem;
      width: 40rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: flex-end;
      position: relative; }
      @media only screen and (max-width: 1066px) {
        .about-container .about-image > .img-border {
          height: 50rem;
          width: 33rem; } }
      @media only screen and (max-width: 840px) {
        .about-container .about-image > .img-border {
          height: auto;
          width: 100%;
          margin-left: 0; } }
    .about-container .about-image > .img-border > img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .about-container .about-image > .img-border::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: -3rem;
      left: -3rem;
      border: 1px solid #753C1E; }
      @media only screen and (max-width: 320px) {
        .about-container .about-image > .img-border::before {
          bottom: -1rem;
          right: -1rem; } }
  .about-container .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    flex: 1; }
    @media only screen and (max-width: 840px) {
      .about-container .content-container {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 680px) {
      .about-container .content-container {
        margin-top: 0;
        width: 100%; } }
    @media only screen and (max-width: 580px) {
      .about-container .content-container {
        margin-top: 7rem; } }
    @media only screen and (max-width: 320px) {
      .about-container .content-container {
        margin-top: 0rem;
        margin-bottom: 0; } }
    .about-container .content-container > .content-container-sub > h2 {
      font-family: 'Prata', serif;
      font-size: 4rem;
      font-weight: 100;
      letter-spacing: .2rem;
      padding-bottom: 3rem; }
      @media only screen and (max-width: 1066px) {
        .about-container .content-container > .content-container-sub > h2 {
          font-size: 2rem; } }
      @media only screen and (max-width: 840px) {
        .about-container .content-container > .content-container-sub > h2 {
          font-size: 2rem; } }
    .about-container .content-container > .content-container-sub > h2::after {
      content: '';
      display: block;
      width: 30%;
      padding-top: 2rem;
      border-bottom: 2px solid #753C1E; }
      @media only screen and (max-width: 680px) {
        .about-container .content-container > .content-container-sub > h2::after {
          width: 40%; } }

.our-coffee {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .our-coffee .coffee-container {
    height: 100%;
    width: 80%;
    display: flex; }
    @media only screen and (max-width: 840px) {
      .our-coffee .coffee-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse; } }
    .our-coffee .coffee-container .coffee-image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-items: flex-start;
      flex: 1; }
      .our-coffee .coffee-container .coffee-image > .img-border {
        height: 58rem;
        width: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative; }
        @media only screen and (max-width: 1066px) {
          .our-coffee .coffee-container .coffee-image > .img-border {
            height: 50rem;
            width: 33rem; } }
        @media only screen and (max-width: 840px) {
          .our-coffee .coffee-container .coffee-image > .img-border {
            height: auto;
            width: 100%;
            margin-top: 3rem; } }
      .our-coffee .coffee-container .coffee-image > .img-border > img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
      .our-coffee .coffee-container .coffee-image > .img-border::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: -3rem;
        left: -3rem;
        border: 1px solid #753C1E; }
        @media only screen and (max-width: 320px) {
          .our-coffee .coffee-container .coffee-image > .img-border::before {
            bottom: -1rem;
            right: -1rem; } }
  .our-coffee .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    flex: 1;
    padding-left: 3rem;
    position: relative; }
    @media only screen and (max-width: 840px) {
      .our-coffee .content-container {
        margin-bottom: 0;
        padding-left: 0; } }
    @media only screen and (max-width: 840px) {
      .our-coffee .content-container > .content-container-sub {
        width: 100%; } }
    .our-coffee .content-container > .content-container-sub::after {
      z-index: -1;
      content: '';
      height: 90%;
      width: 50%;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #A67A5E;
      opacity: .3; }
      @media only screen and (max-width: 840px) {
        .our-coffee .content-container > .content-container-sub::after {
          display: none; } }
    .our-coffee .content-container > .content-container-sub > h2 {
      font-family: 'Prata', serif;
      font-size: 4rem;
      font-weight: 100;
      letter-spacing: .2rem;
      padding-bottom: 3rem; }
      @media only screen and (max-width: 1066px) {
        .our-coffee .content-container > .content-container-sub > h2 {
          font-size: 3rem; } }
      @media only screen and (max-width: 840px) {
        .our-coffee .content-container > .content-container-sub > h2 {
          font-size: 2rem; } }
      @media only screen and (max-width: 320px) {
        .our-coffee .content-container > .content-container-sub > h2 {
          font-size: 1.7rem; } }
    .our-coffee .content-container > .content-container-sub > h2::after {
      content: '';
      display: block;
      width: 30%;
      padding-top: 2rem;
      border-bottom: 2px solid #753C1E; }
      @media only screen and (max-width: 680px) {
        .our-coffee .content-container > .content-container-sub > h2::after {
          width: 40%; } }

.video {
  background-color: #f5f5f5;
  margin-top: 10rem;
  width: 100%; }
  .video > .video-container {
    padding: 10rem 0 20rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 840px) {
      .video > .video-container {
        padding: 5rem 0 10rem 0; } }
    @media only screen and (max-width: 320px) {
      .video > .video-container {
        padding: 2.5rem 0 8rem 0; } }
    .video > .video-container .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: flex-start;
      flex: 1;
      padding-left: 10%;
      position: relative; }
      @media only screen and (max-width: 840px) {
        .video > .video-container .content-container {
          margin-bottom: 0;
          padding-left: 0; } }
      @media only screen and (max-width: 840px) {
        .video > .video-container .content-container > .content-container-sub {
          width: 80%; } }
      .video > .video-container .content-container > .content-container-sub > p {
        padding-right: 10%; }
      .video > .video-container .content-container > .content-container-sub > h2 {
        font-family: 'Prata', serif;
        font-size: 4rem;
        font-weight: 100;
        letter-spacing: .2rem;
        padding-bottom: 3rem; }
        @media only screen and (max-width: 1066px) {
          .video > .video-container .content-container > .content-container-sub > h2 {
            font-size: 3rem; } }
        @media only screen and (max-width: 840px) {
          .video > .video-container .content-container > .content-container-sub > h2 {
            font-size: 2rem; } }
        @media only screen and (max-width: 320px) {
          .video > .video-container .content-container > .content-container-sub > h2 {
            font-size: 1.7rem; } }
      .video > .video-container .content-container > .content-container-sub > h2::after {
        content: '';
        display: block;
        width: 10%;
        padding-top: 2rem;
        border-bottom: 2px solid #753C1E; }
        @media only screen and (max-width: 680px) {
          .video > .video-container .content-container > .content-container-sub > h2::after {
            width: 40%; } }
    .video > .video-container .video-source {
      width: 70rem;
      height: 45rem; }
      @media only screen and (max-width: 840px) {
        .video > .video-container .video-source {
          width: 80%;
          height: 30rem; } }
      @media only screen and (max-width: 650px) {
        .video > .video-container .video-source {
          width: 60%;
          height: 17rem; } }
      @media only screen and (max-width: 400px) {
        .video > .video-container .video-source {
          width: 90%;
          height: 17rem; } }
      .video > .video-container .video-source > video {
        margin-top: 8rem;
        height: 100%;
        width: 100%;
        object-fit: cover; }
        @media only screen and (max-width: 320px) {
          .video > .video-container .video-source > video {
            margin-top: 3rem; } }

.map {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 840px) {
    .map {
      margin-top: 5rem; } }
  .map .map-container {
    margin: 10rem 0 10rem 0;
    height: 100%;
    width: 80%;
    display: flex; }
    @media only screen and (max-width: 840px) {
      .map .map-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5rem 0 5rem 0;
        flex-direction: column-reverse; } }
    .map .map-container .map-image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-items: flex-end;
      flex: 1; }
      .map .map-container .map-image > .img-border {
        height: 55rem;
        width: 45rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative; }
        @media only screen and (max-width: 1066px) {
          .map .map-container .map-image > .img-border {
            height: 40rem;
            width: 40rem; } }
        @media only screen and (max-width: 840px) {
          .map .map-container .map-image > .img-border {
            height: auto;
            width: 100%;
            margin-top: 5rem; } }
        @media only screen and (max-width: 320px) {
          .map .map-container .map-image > .img-border {
            height: auto;
            width: 100%;
            margin-top: 5rem; } }
      .map .map-container .map-image > .img-border > img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
      .map .map-container .map-image > .img-border::before {
        z-index: -1;
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: -3rem;
        right: -3rem;
        border: 1px solid #753C1E; }
        @media only screen and (max-width: 320px) {
          .map .map-container .map-image > .img-border::before {
            bottom: -1rem;
            right: -1rem; } }
  .map .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
    flex: 1;
    padding-left: 3rem;
    position: relative; }
    @media only screen and (max-width: 840px) {
      .map .content-container {
        margin-bottom: 0;
        padding-left: 0;
        align-self: flex-start; } }
    @media only screen and (max-width: 840px) {
      .map .content-container > .content-container-sub {
        width: 100%; } }
    .map .content-container > .content-container-sub > h5 {
      font-family: inherit;
      font-weight: 500;
      font-size: 1.6rem;
      margin: 2rem 0 2rem 0; }
    .map .content-container > .content-container-sub > .operating-hours {
      display: flex;
      justify-content: flex-start; }
      .map .content-container > .content-container-sub > .operating-hours > .days > h6, .map .content-container > .content-container-sub > .operating-hours .time > h6 {
        font-family: inherit;
        font-weight: 300;
        font-size: 1.2rem; }
      .map .content-container > .content-container-sub > .operating-hours > .days > *:not(:last-child), .map .content-container > .content-container-sub > .operating-hours .time > *:not(:last-child) {
        margin-bottom: .5rem; }
      .map .content-container > .content-container-sub > .operating-hours > .days {
        flex: 1; }
      .map .content-container > .content-container-sub > .operating-hours > .time {
        flex: 1; }
    .map .content-container > .content-container-sub::after {
      z-index: -1;
      content: '';
      height: 90%;
      width: 50%;
      position: absolute;
      bottom: -5rem;
      right: 0;
      background-color: #A67A5E;
      opacity: .3; }
      @media only screen and (max-width: 840px) {
        .map .content-container > .content-container-sub::after {
          display: none; } }
    .map .content-container > .content-container-sub > h2 {
      font-family: 'Prata', serif;
      font-size: 4rem;
      font-weight: 100;
      letter-spacing: .2rem;
      padding-bottom: 3rem; }
      @media only screen and (max-width: 1066px) {
        .map .content-container > .content-container-sub > h2 {
          font-size: 3rem; } }
      @media only screen and (max-width: 840px) {
        .map .content-container > .content-container-sub > h2 {
          font-size: 2rem; } }
      @media only screen and (max-width: 320px) {
        .map .content-container > .content-container-sub > h2 {
          font-size: 1.7rem; } }
    .map .content-container > .content-container-sub > h2::after {
      content: '';
      display: block;
      width: 30%;
      padding-top: 2rem;
      border-bottom: 2px solid #753C1E; }
      @media only screen and (max-width: 680px) {
        .map .content-container > .content-container-sub > h2::after {
          width: 40%; } }

.newsletter {
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .newsletter .content-container {
    margin: 20rem 0 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 320px) {
      .newsletter .content-container {
        margin: 5rem 0 5rem 0; } }
    .newsletter .content-container > .content-container-sub {
      text-align: center;
      padding: 3rem; }
    .newsletter .content-container > .content-container-sub > h2 {
      font-family: 'Prata', serif;
      font-size: 3rem;
      font-weight: 100;
      letter-spacing: .2rem;
      padding-bottom: 3rem; }
      @media only screen and (max-width: 1066px) {
        .newsletter .content-container > .content-container-sub > h2 {
          font-size: 3rem; } }
      @media only screen and (max-width: 840px) {
        .newsletter .content-container > .content-container-sub > h2 {
          font-size: 2rem; } }
      @media only screen and (max-width: 320px) {
        .newsletter .content-container > .content-container-sub > h2 {
          font-size: 1.7rem; } }
    .newsletter .content-container > .content-container-sub > form {
      width: auto;
      margin-top: 3rem;
      display: flex;
      align-content: center;
      justify-content: center; }
      @media only screen and (max-width: 840px) {
        .newsletter .content-container > .content-container-sub > form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; } }
      .newsletter .content-container > .content-container-sub > form > input[type="email"] {
        width: 30rem;
        height: 3rem;
        border: none;
        border-right: 1px solid #CEDDE1;
        padding: .2rem 1rem .2rem 1rem; }
        @media only screen and (max-width: 840px) {
          .newsletter .content-container > .content-container-sub > form > input[type="email"] {
            width: 80%; } }
      .newsletter .content-container > .content-container-sub > form > input[type="submit"] {
        width: auto;
        padding: .2rem 1rem .2rem 1rem;
        background-color: #fff;
        font-family: inherit;
        font-weight: 300;
        color: #31241C;
        letter-spacing: .1rem;
        cursor: pointer;
        outline: none;
        border: none;
        transition: .2s ease-in; }
        @media only screen and (max-width: 840px) {
          .newsletter .content-container > .content-container-sub > form > input[type="submit"] {
            margin-top: 2rem;
            width: 50%;
            padding: 1rem 1rem 1rem 1rem; } }
        .newsletter .content-container > .content-container-sub > form > input[type="submit"]:hover {
          background-color: #A67A5E;
          color: #fff; }

.newsletter::before {
  z-index: -1;
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/newsletter.jpg);
  opacity: .2;
  filter: grayscale(80%);
  background-size: cover;
  clip-path: polygon(29% 5%, 45% 9%, 60% 3%, 75% 8%, 100% 0, 100% 100%, 0 100%, 0 0, 12% 8%); }
  @media only screen and (max-width: 320px) {
    .newsletter::before {
      clip-path: none; } }

footer {
  background-color: transparent;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around; }
  footer > img {
    height: 60px; }
  footer > h6 {
    font-family: inherit;
    font-weight: 300; }

#modal {
  display: none; }

.success-modal {
  z-index: 8;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .success-modal::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .7; }
  .success-modal > .modal-message {
    z-index: 20;
    background-color: #FDFDFD;
    padding: 5rem;
    width: 50vmin;
    height: 30vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    animation-name: moveIn;
    animation-duration: .5s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 500px) {
      .success-modal > .modal-message {
        width: 70vmin;
        height: 80vmin;
        padding: 2rem; } }
    .success-modal > .modal-message > h3 {
      font-family: inherit;
      font-weight: 500;
      font-size: 3rem; }
      @media only screen and (max-width: 500px) {
        .success-modal > .modal-message > h3 {
          font-size: 1.6rem; } }
    @media only screen and (max-width: 500px) {
      .success-modal > .modal-message > p {
        line-height: 1.3rem;
        word-spacing: .2rem; } }
    .success-modal > .modal-message > img {
      height: 10rem; }
    @media only screen and (max-width: 600px) {
      .success-modal > .modal-message > button {
        padding: 1rem 3.5rem 1rem 3.5rem; } }
