/* browser reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* for all elements to inherit box-sizing attribute in body element css */ }

html {
  font-size: 62.5%;
  /* 1rem = 10px; 10px/16px = 62.5% -- 16px is default font size in browser*/
  scroll-behavior: smooth; }

input:focus {
  outline: none !important; }

input[type="submit"] {
  display: none; }

input[type="text"] {
  font-family: inherit;
  background-color: transparent;
  border: none;
  width: 100%;
  border-bottom: 1px solid black; }

body {
  font-family: 'Roboto', sans-serif; }

.diplay-none {
  display: none !important; }

.container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-image: url(../assets/bg.jpeg);
  background-size: cover;
  filter: opacity(0.5);
  z-index: -10; }

.container-main {
  height: 100%;
  width: 70vw;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.315);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.container-header {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  justify-content: flex-start; }

.time > h1 {
  font-size: 17rem; }

.container-name > .inputName {
  display: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.container-name > .greetings {
  padding-top: 5rem; }
  .container-name > .greetings > h1 {
    font-size: 4rem;
    font-weight: 500; }

.container-name > .container-focus {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

#nameForm > h1 {
  font-size: 4rem; }

#nameForm > input {
  padding-top: 2rem; }

#focusForm > h1 {
  font-size: 2.5rem;
  font-weight: 300; }

#focusForm > input {
  padding-top: 2rem; }

.container-quotes {
  padding-bottom: 5rem; }
  .container-quotes > p {
    font-size: 1.8rem;
    font-weight: 100; }
